/* Altre regole CSS */

/* Stile generale per il menu di navigazione */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #111;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

/* Aggiungi queste regole per la responsività */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Nascondi il menu su schermi piccoli */
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px; /* Regola la posizione del menu */
        left: 0;
    }

    nav ul.open {
        display: flex; /* Mostra il menu quando è aperto */
    }

    nav ul li {
        margin: 0;
    }

    .menu-toggle {
        display: block; /* Mostra il pulsante del menu su schermi piccoli */
    }

    header {
        padding: 4em 1em; /* Riduci il padding dell'intestazione su schermi piccoli */
    }

    .header-content {
        padding: 1em; /* Riduci il padding della sezione del contenuto dell'intestazione */
    }

    .header-content h1 {
        font-size: 2em; /* Riduci la dimensione del font del titolo */
    }

    .header-content p {
        font-size: 1.2em; /* Riduci la dimensione del font del sottotitolo */
    }
}
