/* Altre regole CSS qui... */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #222; /* Colore di sfondo modificato */
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #444; /* Colore di sfondo al passaggio del mouse modificato */
    border-radius: 5px;
}

/* Media Queries per dispositivi mobili */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Disposizione verticale del menu di navigazione */
        align-items: center;
        position: relative; /* Modifica la posizione a relativa */
        margin-top: 1em; /* Spazio sopra il menu di navigazione */
        width: 100%; /* Larghezza a tutta pagina */
    }

    nav ul li {
        margin: 0.5em 0; /* Margine tra gli elementi del menu */
    }

    section {
        padding: 1em 0.5em; /* Riduci il padding delle sezioni su dispositivi mobili */
    }

    .services ul {
        grid-template-columns: 1fr; /* Una colonna su dispositivi mobili */
    }

    form {
        padding: 0 1em; /* Aggiungi padding laterale per il form su dispositivi mobili */
    }

    button {
        width: 100%; /* Bottoni a larghezza piena su dispositivi mobili */
    }
}
